.advantages__title {
  max-width: 549px;
  margin: 0 auto 29px auto;

  @media (min-width: $vp-768) {
    max-width: unset;
    margin-bottom: 41px;
  }

  @media (min-width: $vp-1150) {
    max-width: 699px;
  }
}

.advantages__list {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  padding: 0;

  list-style-type: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-default-black;

  gap: 29px;
  grid-template-columns: repeat(auto-fill, max(260px));

  @media (min-width: $vp-768) {
    max-width: 699px;

    font-size: 20px;
    line-height: 22px;
    column-gap: 2px;

    grid-template-columns: repeat(2, 1fr);
    row-gap: 55px;
  }
}

.advantages__item {
  position: relative;

  padding-top: 54px;

  @media (min-width: $vp-768) {
    padding-top: 56px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;

    width: 33px;
    height: 38px;

    background-image: url("../../img/svg/flower.svg");
    background-repeat: no-repeat;
  }

  &--money::before {
    left: 0;

    width: 47px;
    height: 27px;

    background-image: url("../../img/svg/money.svg");
  }

  &--heart::before {
    top: 5px;
    left: 7px;

    width: 34px;
    height: 27px;

    background-image: url("../../img/svg/heart.svg");
  }

  &--ball {
    order: 1;

    @media (min-width: $vp-768) {
      order: 0;
    }

    &::before {
      top: 2px;
      left: 3px;

      width: 35px;
      height: 34px;

      background-image: url("../../img/svg/ball.svg");
    }
  }

  &--rocket {
    order: 1;

    @media (min-width: $vp-768) {
      order: 0;
    }

    &::before {
      top: 2px;
      left: -6px;

      width: 55px;
      height: 23px;

      background-image: url("../../img/svg/rocket.svg");
    }
  }

  &--present {
    order: 1;

    @media (min-width: $vp-768) {
      order: 0;
    }

    &::before {
      left: 3px;

      order: 1;
      width: 33px;
      height: 32px;

      background-image: url("../../img/svg/present.svg");
    }
  }
}
