.advantages__title {
  margin: 0 auto 29px auto;
  max-width: 549px;

  @media (min-width: $vp-768) {
    margin-bottom: 41px;
    max-width: unset;
  }

  @media (min-width: $vp-1150) {
    max-width: 699px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, max(260px));
  gap: 29px;
  list-style-type: none;
  color: $color-default-black;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  justify-content: center;

  @media (min-width: $vp-768) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2px;
    row-gap: 55px;
    max-width: 699px;
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__item {
  padding-top: 54px;
  position: relative;

  @media (min-width: $vp-768) {
    padding-top: 56px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 38px;
    top: 0;
    left: 8px;
    background-image: url("../../img/svg/flower.svg");
    background-repeat: no-repeat;
  }

  &--money::before {
    width: 47px;
    height: 27px;
    left: 0;
    background-image: url("../../img/svg/money.svg");
  }

  &--heart::before {
    width: 34px;
    height: 27px;
    left: 7px;
    top: 5px;
    background-image: url("../../img/svg/heart.svg");
  }

  &--ball {
    order: 1;

    @media (min-width: $vp-768) {
      order: 0;
    }

    &::before {
      width: 35px;
      height: 34px;
      left: 3px;
      top: 2px;
      background-image: url("../../img/svg/ball.svg");
    }
  }

  &--rocket {
    order: 1;

    @media (min-width: $vp-768) {
      order: 0;
    }

    &::before {
      width: 55px;
      height: 23px;
      left: -6px;
      top: 2px;
      background-image: url("../../img/svg/rocket.svg");
    }
  }

  &--present {
    order: 1;

    @media (min-width: $vp-768) {
      order: 0;
    }

    &::before {
      width: 33px;
      height: 32px;
      left: 3px;
      background-image: url("../../img/svg/present.svg");
      order: 1;
    }
  }
}
