.button {
  display: block;
  padding: 14px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: $ff-open-sans;
  text-align: center;
  color: $color-charcoal;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-default-white;
  background-image: linear-gradient($color-charcoal 0 0);
  background-repeat: no-repeat;
  background-position: 0 calc(100% + 1px);
  background-size: 100% 1px;
  border: 2px solid $color-charcoal;
  outline: none;
  cursor: pointer;

  transition: background-size 0.2s, background-position 0.2s 0.2s, color 0.6s;

  @media (min-width: $vp-768) {
    font-size: 17px;
  }

  &:hover {
    color: $color-default-white;

    background-position: 100%;
    background-size: 100% 100%;

    transition: background-size 0.2s 0.2s, background-position 0.2s, color 0.6s;
  }

  &:active,
  &:focus {
    color: rgba($color-default-white, 0.3);

    background-position: 100%;
    background-size: 100% 100%;

    transition: background-size 0.2s 0.2s, background-position 0.2s, color 0.6s;
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }
}
