.contacts__wrapper {
  position: relative;

  @media (min-width: $vp-1150) {
    padding: 0 577px 0 174px;
  }

  &::before {
    @media (min-width: $vp-1150) {
      content: "";
      position: absolute;
      top: 62px;
      right: unset;
      left: 63px;

      width: 47px;
      height: 81px;

      background-image: url("../../img/svg/flag.svg");
    }
  }
}


.contacts__title {
  max-width: 549px;
  margin: 0 auto 28px auto;

  @media (min-width: $vp-768) {
    position: relative;

    max-width: unset;
    margin-bottom: 40px;
    padding: 22px 80px 9px 0;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 34px;
    padding: 79px 0 0 0;
  }

  &::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      top: 0;
      right: 3px;

      width: 47px;
      height: 81px;

      background-image: url("../../img/svg/flag.svg");
    }

    @media (min-width: $vp-1150) {
      display: none;
    }
  }
}

.contacts__data-wrapper {
  max-width: 549px;
  margin: 0 auto 62px auto;

  @media (min-width: $vp-768) {
    display: grid;
    max-width: 699px;
    margin-bottom: 49px;

    gap: 25px;
    grid-template-columns: 0.9fr 1fr;
  }

  @media (min-width: $vp-1150) {
    display: block;
    max-width: unset;
    margin-bottom: 84px;
  }
}

.contacts__data {
  display: grid;
  align-items: flex-start;

  font-size: 14px;
  line-height: 30px;

  gap: 22px;
  grid-template-columns: 0.3fr 1fr;

  @media (min-width: $vp-768) {
    font-size: 17px;

    gap: 5px;
  }

  @media (min-width: $vp-1150) {
    gap: 11px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @media (min-width: $vp-768) {
      margin-bottom: 0;
    }

    @media (min-width: $vp-1150) {
      margin-bottom: 30px;
    }
  }
}

.contacts__therm {
  display: block;
}

.contacts__description {
  display: block;

  font-style: normal;
  color: inherit;

  &--email {
    position: relative;

    display: inline-flex;
    margin-right: auto;

    &::before {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color-downy-3;

      @media (min-width: $vp-768) {
        bottom: -1px;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: $color-puerto-rico-2;
    }

    &:hover::before {
      background-color: $color-puerto-rico-2;
    }

    &:active::before,
    &:focus::before {
      background-color: $color-puerto-rico-2;
      opacity: 0.1;
    }
  }
}

.contacts__map-wrapper {
  position: relative;

  padding-top: 496px;

  @media (min-width: $vp-768) {
    padding-top: 512px;
  }

  @media (min-width: $vp-1150) {
    position: static;

    padding-top: 0;
  }
}

.contacts__map-image,
.contacts__map-iframe {
  position: absolute;
  top: 0;
  left: -30px;

  display: block;
  width: 100vw;
  min-width: $vp-320;
  max-width: unset;
  height: 454px;

  background-color: $color-whisper-1;
  border: none;

  object-fit: cover;

  @media (min-width: $vp-768) {
    left: -50px;

    height: 457px;
  }

  @media (min-width: $vp-1150) {
    right: 0;
    left: unset;

    width: 527px;
    height: 100%;
  }
}

.contacts__link {
  max-width: 260px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    max-width: 230px;
  }

  @media (min-width: $vp-1150) {
    margin: 0;
  }
}
