.main-content__intro {
  margin-bottom: 31px;

  @media (min-width: $vp-768) {
    margin-bottom: 52px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 71px;
  }
}

.main-content__promo {
  margin-bottom: 31px;

  @media (min-width: $vp-768) {
    margin-bottom: 57px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 68px;
  }
}

.main-content__advantages {
  margin-bottom: 58px;

  @media (min-width: $vp-768) {
    margin-bottom: 82px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 87px;
  }
}

.main-content__feedback {
  margin-bottom: 38px;

  @media (min-width: $vp-768) {
    margin-bottom: 46px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 71px;
  }
}

.main-content__contacts {
  margin-bottom: 39px;

  @media (min-width: $vp-768) {
    margin-bottom: 58px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 106px;
  }
}

.main-content__hero {
  margin-bottom: 31px;

  @media (min-width: $vp-768) {
    margin-bottom: 79px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 127px;
  }

  &--form {
    margin-bottom: 18px;

    @media (min-width: $vp-768) {
      margin-bottom: 67px;
    }

    @media (min-width: $vp-1150) {
      margin-bottom: 114px;
    }
  }
}

.main-content__catalog {
  margin-bottom: 29px;

  @media (min-width: $vp-768) {
    margin-bottom: 52px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 55px;
  }
}

.main-content__video {
  margin-bottom: 55px;

  @media (min-width: $vp-768) {
    margin-bottom: 64px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 103px;
  }
}

.main-content__order {
  margin-bottom: 55px;

  @media (min-width: $vp-768) {
    margin-bottom: 50px;
  }
}
