.order__title {
  margin: 0;
  margin-bottom: 29px;

  font: inherit;
  font-size: 13px;

  @media (min-width: $vp-768) {
    margin-bottom: 13px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $vp-768) {
    max-width: 702px;
    margin: 0 auto 13px auto;
  }
}

.order__form-group {
  position: relative;

  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  border: none;

  @media (min-width: $vp-768) {
    display: grid;
    margin-bottom: 0;
    padding: 50px 0 50px 0;

    border: none;

    gap: 20px;
    grid-template-columns: 149px 1fr;
  }

  @media (min-width: $vp-1150) {
    max-width: 874px;

    grid-template-columns: 154px 1fr;
  }

  &--color {
    @media (min-width: $vp-768) {
      max-width: unset;
    }
  }

  &--without-label {
    @media (min-width: $vp-768) {
      padding-top: 0;
      padding-bottom: 24px;
    }
  }

  &--textarea {
    margin-bottom: 13px;

    @media (min-width: $vp-768) {
      margin-bottom: 0;
    }
  }

  .order__group-wrapper &--without-label:first-child {
    @media (min-width: $vp-768) {
      padding-top: 50px;
    }
  }

  .order__group-wrapper &--without-label:last-child {
    @media (min-width: $vp-768) {
      padding-bottom: 50px;
    }
  }
}

.order__color-background {
  position: relative;

  &::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      top: 0;
      left: -100vw;
      z-index: -1;

      width: 200vw;
      height: 100%;

      background-color: $color-white-smoke-1;
    }
  }
}

.order__form-legend {
  position: relative;
  z-index: 1;

  margin: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $color-downy-1;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-top: 18px;
    margin-bottom: 0;
  }

  @media (min-width: $vp-1150) {
    display: flex;
    justify-content: center;
    width: 100%;

    transform: translateX(5px);
  }

  &::before {
    @media (max-width: ($vp-768 - 1px)) {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 1px;

      background-color: $color-downy-3;
    }
  }
}

.order__legend-text {
  @media (max-width: ($vp-768 - 1px)) {
    z-index: 1;

    display: inline-flex;
    max-width: 50%;
    padding-right: 15px;

    background-color: $color-default-white;
  }
}

.order__form-group--without-label .order__form-legend {
  margin-bottom: 7px;
  padding-right: 28px;

  @media (min-width: $vp-1150) {
    padding-right: 0;
  }

  &--not-first {
    @media (min-width: $vp-1150) {
      left: 10px;

      max-width: 160px;
    }
  }
}

.order__form-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.order__item {
  &:not(:last-child) {
    margin-bottom: 12px;

    @media (min-width: $vp-768) {
      margin-bottom: 23px;
    }
  }

  &--color {
    &:not(:last-child) {
      margin-bottom: 23px;

      @media (min-width: $vp-768) {
        margin-bottom: 0;
      }
    }
  }

  &--name {
    &:not(:last-child) {
      margin-bottom: 22px;

      @media (min-width: $vp-768) {
        margin-bottom: 24px;
      }
    }
  }
}

.order__label {
  position: relative;

  display: flex;
  align-items: flex-start;

  pointer-events: none;

  &--urgent-input {
    flex-direction: column;

    @media (min-width: $vp-768) {
      flex-direction: row;
    }
  }
}

.order__input-radio {
  position: relative;

  display: block;
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  margin-right: 19px;

  border: 2px solid $color-charcoal;
  border-radius: 50%;
  cursor: pointer;

  transition: border 0.3s;

  pointer-events: all;

  @media (min-width: $vp-768) {
    width: 52px;
    height: 52px;
    margin-right: 26px;
  }

  @media (min-width: $vp-1150) {
    width: 52px;
    height: 52px;
    margin-right: 29px;
  }
}

.order__type-input:checked + .order__input-radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 18px;
  height: 18px;

  background-color: $color-downy-3;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media (min-width: $vp-768) {
    width: 23px;
    height: 23px;
  }
}

.order__input-checkbox {
  position: relative;

  display: block;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  margin-right: 23px;

  border: 2px solid $color-charcoal;
  cursor: pointer;

  transition: border 0.3s;

  pointer-events: all;

  @media (min-width: $vp-768) {
    width: 52px;
    height: 52px;
    margin-right: 30px;
  }
}

.order__color-input:checked + .order__input-checkbox {
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 23px 16px;

  @media (min-width: $vp-768) {
    background-size: 31px 22px;
  }
}

.order__label:hover .order__input-radio,
.order__label:hover .order__input-checkbox {
  border-color: $color-downy-3;

  transition: border 0.3s;
}

.order__label:focus-within .order__input-radio,
.order__label:active .order__input-radio,
.order__label:focus-within .order__input-checkbox,
.order__label:active .order__input-checkbox {
  border-color: rgba($color-default-black, 0.3);

  transition: border 0.3s;
}

.order__value {
  display: block;
  align-self: center;
  padding-top: 1px;

  color: $color-default-black;

  cursor: pointer;

  pointer-events: all;

  @media (min-width: $vp-768) {
    max-width: 360px;

    font-size: 19px;
  }
}

.order__type-input:disabled + .order__input-radio,
.order__color-input:disabled + .order__input-checkbox,
.order__type-input:disabled ~ .order__value,
.order__color-input:disabled ~ .order__value {
  opacity: 0.3;

  pointer-events: none;
}

.order__item--color .order__value {
  @media (min-width: $vp-768) {
    width: 100%;
    max-width: unset;

    word-break: break-word;
  }
}

.order__form-group--color .order__form-legend {
  margin-bottom: 23px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
  }

  @media (min-width: $vp-768) {
    transform: translateX(5px);
  }
}

.order__form-group--color .order__form-list {
  @media (min-width: $vp-768) {
    display: grid;

    transform: translateY(-1px);

    gap: 24px;
    grid-template-columns: repeat(auto-fill, 237px);
  }

  @media (min-width: $vp-1150) {
    column-gap: 26px;
  }
}

.order__input-name {
  order: -1;
  margin-bottom: 1px;

  cursor: pointer;

  pointer-events: all;

  @media (min-width: $vp-768) {
    max-width: 40%;
    margin: 0 24px 0 0;
    padding-top: 16px;
  }

  @media (min-width: $vp-1150) {
    max-width: 40%;
    margin: 0 24px 0 0;
    padding: 16px 0 0 3px;
  }
}

.order__input {
  flex-grow: 1;
  width: 100%;
  padding: 20px 18px 11px 0;

  font-size: 17px;
  line-height: 18px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $color-default-black;
  outline: none;

  transition: border 0.3s;

  pointer-events: all;

  @media (min-width: $vp-768) {
    padding: 15px 18px 13px 18px;

    font-size: 19px;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: $ff-open-sans;
    color: rgba($color-default-black, 0.3);

    opacity: 1;

    @media (min-width: $vp-768) {
      font-size: 19px;
    }
  }

  &--with-icon {
    padding-right: 50px;

    @media (min-width: $vp-768) {
      padding-right: 69px;
    }

    @media (min-width: $vp-1150) {
      padding-right: 50px;
    }
  }

  &--textarea {
    height: 142px;
    padding: 17px;

    border: 2px solid $color-default-black;
    transform: translateY(-3px);

    resize: none;
  }

  &:hover,
  &:not(:placeholder-shown),
  &:active,
  &:focus {
    border-color: $color-downy-3;

    transition: border 0.3s;
  }

  &:disabled,
  &:disabled + .order__input-name {
    opacity: 0.3;

    pointer-events: none;
  }
}

.order__input-icon {
  position: absolute;
  top: 11px;
  right: 7px;

  color: rgba($color-default-black, 0.2);

  @media (min-width: $vp-768) {
    right: 26px;
  }

  @media (min-width: $vp-1150) {
    right: 7px;
  }

  &--mail {
    top: 15px;
    right: 3px;

    @media (min-width: $vp-768) {
      right: 22px;
    }

    @media (min-width: $vp-1150) {
      right: 3px;
    }
  }
}

.order__input--with-icon:hover + .order__input-icon,
.order__input--with-icon:focus + .order__input-icon,
.order__input--with-icon:active + .order__input-icon,
.order__input--with-icon:not(:placeholder-shown) + .order__input-icon {
  color: $color-downy-3;
}

.order__submit-wrapper {
  @media (min-width: $vp-768) {
    display: grid;
    max-width: 875px;

    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $vp-1150) {
    max-width: unset;
    padding: 0 174px;
  }
}

.order__required-description {
  margin: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;

  @media (min-width: $vp-768) {
    order: 1;
    margin-bottom: 0;
    padding-top: 15px;

    font-size: 17px;
    line-height: 30px;
    text-align: end;
  }
}

.order__submit {
  width: 100%;
  max-width: 300px;

  @media (min-width: $vp-768) {
    max-width: 230px;
  }
}
