.text {
  margin: 0;

  @media (min-width: $vp-768) {
    font-size: 17px;
    line-height: 30px;
  }
}

.text--input {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $vp-768) {
    font-size: 19px;
  }
}
