.title {
  font-family: $ff-open-sans;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  color: $color-default-black;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
  }
}

.title--subtitle {
  font-size: 25px;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
  }
}
