// Colors
//---------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Project palette
$color-dark-green: #000101;
$color-aubergine: #231f20;
$color-charcoal: #444444;
$color-whisper-1: #ececec;
$color-whisper-2: #e5e5e5;
$color-snow: #fafafa;
$color-white-smoke-1: #f1f1f1;
$color-white-smoke-2: #f3f3f3;
$color-white-smoke-3: #f9f9f9;
$color-silver: #c6c6c6;
$color-downy-1: #63d1bb;
$color-downy-2: #59d5bc;
$color-downy-3: #62d1ba;
$color-puerto-rico-1: #56c3b2;
$color-puerto-rico-2: #46c1ae;

// Typography
//----------------

$fz-default: 15px;
$ff-open-sans: "Open Sans", "Arial", sans-serif;

// Viewports
//----------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1150: 1150px;
